<!DOCTYPE html> 
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Isi</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<style>
        body{
			font-family: Georgia, serif;
            margin:20px 100px 20px 100px;
            padding:10px 40px;
            /* background-color: #275b95; */
        }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* visited link */
a:visited {
  color: rgb(91, 156, 226);
}

/* mouse over link */
a:hover {
  color: rgb(187, 108, 51);
}	

    </style>
</head> 

<body>   
	<center>
		<h1>Laila's Blog</h1>	
	</center>				
		<ul class="navbar-nav flex-column text-left">
			<li class="nav-item">
				<a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>Home <span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw mr-2"></i>Post</a>
			</li>
		</ul>

	<header class="blog-post-header">
    	<center>
		<h2 class="title">Why Every Developer Should Have A Blog ?</h2>		    
		<div class="blog-post-body"></div>
    	<img src="file:///Users/apple/Downloads/DevBlog-Theme-master/assets/images/blog/blog-post-banner.jpg" alt="post"
    		width="900px" height="450px">
    	</center>
    </header>
	
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
				
		<h3>Typography</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		
		<h5>Bullet Points:</h5>
		<ul class="mb-5">
		<li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
		<li class="mb-2">Aenean commodo ligula eget dolor.</li>
		<li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
		</ul>
					
		<ol class="mb-5">
		<li class="mb-2">Lorem ipsum dolor sit amet consectetuer.</li>
		<li class="mb-2">Aenean commodo ligula eget dolor.</li>
		<li class="mb-2">Aenean massa cum sociis natoque penatibus.</li>
		</ol>
		
		<h5>Quote Example:</h5>
		<blockquote class="blockquote m-lg-5 py-3 pl-4 px-lg-5">
	<p class="mb-2">You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity.</p>
			<footer class="blockquote-footer">-John Romero-</footer>
		</blockquote>
					
		<h3>Video Example</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
		</div>  
    
	<br>
    <hr>
    <footer><center>© Nisfi Nuur Lailatin</center></footer>

</body>
</html> 